<mat-card class="w-[90%] ml-5 mt-3">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Walmart</mat-card-title>
    <mat-card-subtitle>Store names are anonymized</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <app-store-picker (selected)="setStore($event)"></app-store-picker>
  </mat-card-actions>
  <mat-card-content>
    @if (graphData()[0]) {
      <p class="text-slate-700">Store size: {{graphData()[0].store_data.size}} (square feet)</p>
      <p class="text-slate-700">Red bars indicate holidays</p>
    }
    <canvas #chartCanvas></canvas>
  </mat-card-content>
  <mat-progress-bar mode="determinate" value={{progress()}}></mat-progress-bar>
</mat-card>
<div>
</div>

