<mat-card class="w-[90%] ml-5 mt-3">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Walmart</mat-card-title>
    <mat-card-subtitle>Store names are anonymized</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <app-store-picker (selected)="setStore($event)"></app-store-picker>
  </mat-card-actions>
  <mat-card-content>
    <canvas #chartCanvas></canvas>
  </mat-card-content>
  @if (loading) {
    <mat-progress-bar mode="query"></mat-progress-bar>
  }
</mat-card>
<div>
</div>

